#settings {
  display: none;
}

/* Style buttons */
.setting_btn {
  background-color: #616161;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 20px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
  border-radius: .2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99
}

/* Darker background on mouse-over */
.setting_btn:hover {
  background-color: #4c4c4c;
}

#settings_div{
  background-color: #f8f9fa;
  display: none;
}
